<nav>
    <div class = "nav-wrapper">
        <a href='/' class = "brand-logo">Robot Factory</a>
        <ul id="nav-monile" class = "right hide-on-med-and-down">
            <li><a href="/robots">Robots</a></li>
            <li><a href="../">Go Back</a></li>
        </ul>
    </div>
</nav>
