<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include ./partials/nav %>
    <h1>Let's Get Ready to Rumble!</h1>
    <p>Welcome to thunderdome, let's make your Robot!</p>
    <form action="/robots">
    <button class = 'btn'>Get Started</button>
    </form>
  </body>
</html>
