<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/nav %>
    <h1> <%= robot.type %></h1>
    <p> About this robot: "<%= robot.description%>"</p>
    <p> This robot's special is: "<%= robot.special%>"</p> 
</body>
</html>